body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(217, 194, 147);
    overflow-x: hidden;
}



header {
    background-color: rgba(127, 255, 212, 0);
    padding: 10px;
    position: relative;
    border-radius: 0px 0px 40px 40px;
    background-color: rgb(255, 255, 255);
}

.logo-space {
    margin: auto;
    width: 125px;
    height: 200px;
    /* display: inline-block; */
    background-image: url(./images/logo-exemplo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.links-space {
    /* background-color: brown; */
    text-align: center;
    padding: 10px;
}

.links-space a {
    text-decoration: none;
    color: rgb(30, 98, 157);
    margin: 30px;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;

}

/* catalogo */



.catalog-main {
    position: relative;
    width: 850px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 60px 0px;
}

.catalog {
    margin-top: 50px;
    width: 750px;
    padding: 60px;
    background-color: rgba(0, 68, 255, 0.3);
    border-radius: 20px;

    position: relative;
    top: 60px;
    left: 0%;

    color: rgb(255, 255, 255);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, .2);
    transition: .4s;

}

.catalog:hover {
    top: 55px;
    left: 1%;
    transition: .4s;
    box-shadow: -40px 30px 20px rgba(0, 0, 0, .2);

}


.product-box {
    position: relative;
    padding: 10px;
    margin: 14px;
    margin-top: 50px;
    display: inline-block;
    width: 320px;
    /* height: 290px; */
    /* background-color: aquamarine; */
    border-radius: 20px;

}

.produto {
    width: 310px;
    margin: 5px;
    border-radius: 20px;
}

.product-name {
    position: absolute;
    text-align: center;
    left: 50%;
    top: -23px;
    transform: translate(-50%);
    text-shadow: -10px 10px 20px rgba(0, 0, 0, .8);
}





/* galeria */
.images {
    position: relative;
    width: 850px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 60px 0px;
    /* height: 650px; */
}

.galery-container {
    position: relative;
    top: 60px;
    left: 0%;


    box-shadow: -10px 10px 20px rgba(0, 0, 0, .2);
    border-radius: 20px;

    width: 750px;
    padding: 50px;
    margin: auto;
    background-color: rgba(0, 68, 255, 0.3);
    /* background-color: aquamarine; */

    transition: .4s;
}

.galery-container:hover {
    top: 55px;
    left: 1%;
    box-shadow: -40px 30px 20px rgba(0, 0, 0, .2);
    transition: .4s;
}

.filho {
    width: 100%;
    max-width: 1600px;
    /* padding: 10px; */
}


.galery-container h2,
.registration .filho h2,
.catalog .filho h2 {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translate(-50%, 0);

    font-size: 80px;
    text-transform: uppercase;
    color: white;
    margin: 0px;
}

.galery-container .neto a {
    /* padding: 10px; */
    margin-top: 60px;
}

.galery-container .neto {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    /* margin:5px; */
}

.galery-container .photo {
    margin: 5px;
    flex: 177.5px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    /* background-color: rgb(255, 127, 127); */
}

.galery-container .photo img {
    width: 100%;
    /* height: 100%; */
    transition: .4s;
    border-radius: 10px;
    cursor: none;
}

.galery-container .photo:hover img {
    transform: scale(1.2);
}

.registration-main {
    position: relative;
    width: 850px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 60px 0px;
}

.registration {
    background-color: rgba(0, 68, 255, 0.3);
    border-radius: 20px;
    padding: 80px 80px 30px 80px;
    box-shadow: -10px 30px 20px rgba(0, 0, 0, .2);
    position: relative;
    top: 60px;
    left: 0%;

    transition: .4s;
}

.registration:hover {
    top: 55px;
    left: 1%;

    box-shadow: -40px 30px 20px rgba(0, 0, 0, .2);

    transition: .4s;
}

.text-area {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    margin: auto;
}

.text-area>input,
select {
    margin-bottom: 10px;
    padding: 15px;
    border: none;
    border-radius: 45px;
    
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.211);
    
    font-size: 15px;
    outline: none;
}

.text-area>label {
    font-size: 25px;
    color: white;
    /* text-align: center; */
    

  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,.5) 0s;
  margin-left: 15px;

}
.text-area>label:hover{
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
    color: #05060f;
}

.text-area select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background: url('./images/arrow.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 25px;
    background-color: white;
}
.registration .neto p{
    color: rgb(234, 234, 234);
}

.registration .submit{
    padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.registration .submit:hover{
    background-color: #d9c293;
    box-shadow: 0px 15px 20px rgba(217, 194, 146, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.registration .submit:active{
    transform: translateY(-1px);
}


@media screen and (max-width: 1200px) {
    .galery-container .photo {
        /* flex: 33%; */
    }
}