body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(217, 194, 147);
    overflow-x: hidden;
}

header {
    background-color: rgba(127, 255, 212, 0);
    padding: 10px;
    position: relative;
    border-radius: 0px 0px 40px 40px;
    background-color: rgb(255, 255, 255);
}

.logo-space {
    margin: auto;
    width: 125px;
    height: 200px;
    /* display: inline-block; */
    background-image: url(./images/logo-exemplo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.links-space {
    /* background-color: brown; */
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    margin: 30px;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;

}

.content {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.catalog {
    width: 850px;
    /* height: 1050px; */
    padding: 50px;
    background-color: rgba(0, 68, 255, 0.3);
    border-radius: 20px;

    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0%);

    color: black;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, .2);
    transition: .4s;

}
.catalog:hover{
    top: 55px;
    left: 51%;
    transition: .4s;
    box-shadow: -40px 30px 20px rgba(0, 0, 0, .2);

}

.titulo {
    font-size: 80px;
    position: absolute;
    left: 50%;
    top: -130px;
    transform: translate(-50%, 0%);
    text-shadow: -10px 10px 20px rgba(0, 0, 0, .4);
}

.product-box{
    margin: 14px;
    margin-top: 50px;
    display: inline-block;
    width: 250px;
    height: 300px;
    background-color: aquamarine;
    border-radius: 20px;

}

.produto{
    margin: auto;
    padding: 0;
    width: 200px;
    position: relative;
    left: 50%;
    top: 25px;
    transform: translate(-50%, 0%);
    border-radius: 20px;

}